@mixin outline {
    outline: 2px rgb(185, 228, 255) solid;
}

.calculator {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;

    .display {
        height: 5rem;
        width: 100%;
        text-align: end;
        font-size: 2rem;
        font-weight: 500;
        @include outline();
        border-radius: .5rem;
        padding: 1rem;
    }

    .buttons {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        gap: 1rem;


        .button {
            aspect-ratio: 1;
            @include outline();
            font-weight: 500;
            font-size: 2rem;
        }
    }
}