.link_active {
    font-weight: 700;
    position: relative;
}

.link_active::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: rgb(8, 8, 67);
    left: 0;
    right: 0;
    bottom: 0;
}

.my-dropdown {
    position: relative;

    .my-dropdown-menu {
        position: absolute;
        transform: translateY(4px);
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: auto;
        max-height: 500px;
        background-color: white;
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding: 0;

        .my-dropdown-item {
            list-style: none;
            padding: 7px 10px;
            cursor: pointer;
            text-decoration: none;
            color: black;
        }
    }
}